.blog-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.blog-post h2 {
  font-size: 1rem;
  font-weight: normal;
}

.blog-post small {
  margin-right: 20px;
  color: #999;
}

.blog-post-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.blog-post-link:hover {
  text-decoration: underline;
}
