/* Header 스타일 */
.header {
  padding: 20px;
  text-align: center;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header ul li {
  display: inline;
  margin-right: 30px;
}

.header ul li a {
  color: #888888;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.header ul li a:hover {
  color: white; /* 하이라이트 효과 */
}
